@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins&display=swap');

.header-wrapper{
   background: url("../images/header.png");
   /*width: 1920px;
   height: 900px;*/
  /* overflow: auto;*/
}
.header-top-wrapper{
   height:158px;
}
.header-bottom-wrapper{
    height:600px;
}
.about-wrapper{
    height: 635px;
    padding-left:175px;
    padding-right: 175px;
}
 
.logo-wrapper{
    float:left;
    padding-top: 80px;
    padding-left: 94px;
    overflow: auto;
}

.nav-wrapper{
    float: right;
    width:auto ;   
}

.nav-wrapper ul li{
    float: left;
    margin-left: 71px;
    margin-top:105px;
}
.nav-wrapper ul li a{
    color: white;
}
.button-style{
    padding: 30px 20px;
    letter-spacing: 2px;
    border: 2px solid #ccc;
    border-radius: 50px;
    background: none;   
}
.text-center h2{
    padding-top: 85px;
}
.text-center h2, h4{
    color: white;
    text-align: center;
     font-family: 'Playfair Display', serif;
}
.text-center h4{
    padding-top: 24px;
}
.counter-banner img{
    padding-left: 220px;
    padding-top: 60px;
    width: 770px;
}
.counter-buttons{
    float: right;
    width:auto ;
}
.counter-buttons ul li{
    float: left;
    margin-left: 22px;
    margin-top:62px;
}
.counter-style{
    padding: 20px 10px;
    letter-spacing: 2px;
    border: 2px solid #ccc;
    border-radius: 50px;
    background: none;   
}
.counter-buttons li a:hover{
    background: :#fdaf19;
    text-decoration-color: black;
}
.about-container h1 p li{
    color: black;

}
.about-title h1 {
    text-align: center;
    padding-top: 134px;
}
.about-para p{
    text-align: center;
    line-height: 22px;
    padding-top: 36px;
}
.about-button a{
    color:black ;
    float: right;
    width: auto;
}
.about-button ul li{
    float:left;
    padding-left: 285px;
    padding-top: 79px;
}
.about-style{
    padding: 20px 10px;
    letter-spacing: 2px;
    border: 2px solid #ccc;
    border-radius: 50px;
    background: none;
    border-color: #f0474a;  

}
.bg-container{
    background: url("../images/rectangle2.png");
     overflow: auto;
     height: 442px;
}
.title-container{
    padding: 153px 460px;
}