.box-wrapper{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    margin: 0px auto;
    position: relative;
}

.rect{
    /*background: blue;*/
    position: absolute;
    /*overflow: none;*/
}
