.game-wrapper{
    width: 1000px;
    height: 560px;
    background: green;
    margin: 0px auto;
    overflow: hidden;
}
.game-controls{
    float: left;
    width: 200px;
}

.game-container{
    float: left;
    width: 540px;
    height: 560px;
    background: url("images/track.png") repeat-y;
    position: relative;
}

.start-game{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    padding: 4px;
    background: #121d03;
    border: 2px solid #f4f7f0;
    border-radius: 2px;
    width: 128px;
}

.score-board, .highest{
    margin-left: 2px;
    margin-right: 2px;
    width: 117px;
    padding: 4px;
    font-size: 20px;
    color: white;
    background: #121d03;
    border: 2px solid #f4f7f0;
    border-radius: 2px;
    text-align: center;
}

.highest{
    font-size: 20px;
    border: none;
    background: none;
}

.player-car{
    width: 70px;
    height: 70px;
    background: url('images/tank.png');
    position: absolute;
    top: 490px;
    left: 240px;
}

.opponent{
    width: 90px;
    height: 90px;
    background:  url('images/car.png');
    position: absolute;
    /*left: 90px;*/
}

.bullet{
    width: 30px;
    height: 27px;
    position: absolute;
}

.boost{
    width: 30px;
    height: 35px;
    position: absolute;
}

