.left-container{
    float:left;
}
.right-container{
    margin-left:20px;
}

.main-container{
    float:left;
    width:555px;
    margin-left:88px;
}

.right-container .main-container .paragraph p a{
    color:red;
    text-decoration: underline;
}

@media all and (max-width: 768px){
    .header-top-container, .header-bottom-container, .body-wrapper,.solution-wrapper,.happy-client-wrapper,.footer-wrapper{
        overflow: hidden;
    }

    .row{
        display: block;
    }
    .main-container{
    	float:none;

    }
    .round img{
    	padding-left: 8px;
    	width:50%;
    }
    .round h2{
    	padding-right:12px;
    }
   /* .round-container{
    	display: block;
    }*/

    .col2-left{
    	width:70%;
    }
    .our-team-wrapper{
    	width:70%;
    	float: none;
    }
    .solution-header{
    	width:70%;
    }
    .solution-paragraph{
    	width:70%;
    }
    .col2-left1{
    	padding-left: 2%;

    }
    .col3-content-wrapper{
    	display:none;
    }

/*    .header-logo-wrapper, 
    .about, .menu, .left, 
    .main-wrapper, .main, .col3-right, .col3-main-right{
        float: none;
    }

    .header-nav-wrapper, .header-nav-wrapper ul li{
        float: none;
    }

    .left, .col3-main-right{
        display: none;
    }

    .main-wrapper{
        margin-bottom: 10px;
    }

    .banner{
        display: none;
    }

    .happy-clients-hr{
       display: none;
    }

    .happy-client-text, .page-nav{
        float: none;
        margin-bottom: 20px;
    }

    .company{
        margin-right: 8px;
    }

    .blog{
        display: none;
    }

    .date, .media{
        float:none;
    }

    .date{
        margin-bottom: 20px;
    }
*/

