.left-container{
    float:left;
}
.right-container{
    margin-left:20px;
}

.main-container{
    float:left;
    width:555px;
    margin-left:88px;
}

.right-container .main-container .paragraph p a{
    color:red;
    text-decoration: underline;
}