.box-wrapper{
    width: 600px;
    height: 500px;
    background: black;
    /*border: 1px solid black;*/
    margin: 0px auto;
    position: relative;
}

.rect{
    background: red;
    position: absolute;
}