li{
    list-style: none;
}
 
.carousel-container{
    width: 25em;
    height: 25em;
    overflow: hidden;
    margin: 0px auto;
}

.container-image-wrapper{
    position: relative; 
    z-index: 10;   
}

.container-image-wrapper img{
    position: absolute;
    float: left;
    top: 0px;
}

.carousel-control{
    position: relative;
    margin-top: 180px;
    z-index: 20;
}

#previous{
    padding: 5px;
    cursor: pointer;
    position: absolute;
    left: 0px;
}

#next{
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 0px;
}

#previous:hover, #next:hover{
    background: black;
    opacity: 0.5;
}

.carousel-indicator{
    position: relative;
    top: 180px;
    z-index: 20;
    margin: 0px auto;
    width: 120px;
}

.carousel-indicator ul{
    position: absolute;
    left: 0px;
    padding: 0px;
    /*width: 1000px;*/
}

.carousel-indicator ul li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    margin-right: 10px;
    cursor: pointer;
}

.carousel-indicator ul li:last-child{
    margin-right: 0px;
}

.carousel-indicator  .active{
    background: white;
    opacity: 0.8;
}